<footer>
    <div class="footer"><em>Follow us on social media   </em>   
        <a href="https://www.instagram.com/dides_kitchen/?hl=en">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/@dideskitchen2786">
            <i class="fa-brands fa-youtube"></i>
        </a>
        <a href="mailto:cakesbydide@gmail.com">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>
</footer>

</body>
</html>