<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
    <h2>About Me</h2><br>
    <img class="dide" src="../img/dide.jpeg"></img>
    <p>Hello, my name is Dide. I am originally from Turkey, but I have been living in New Jersey for about 15 years. I wanted to share some recipes from my kitchen, where I like to spend the most time. I will be sharing some Turkish traditional recipes and recipes from different cuisines as well. I hope you will enjoy my cruising through my website!</p>
    <p class="enjoy">Bon Appetit!</p>
    

</div>
<%- include("partials/footer") %>