<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
    <h2>About Me</h2><br>

    <img class="dide" src="../img/dide.jpeg"></img><br><br>
   
    <p>Welcome! My name is Dide, and I hail from Turkey where I was raised in the Mediterranean culinary tradition. My grandmother, a gifted cook, played a pivotal role in igniting my passion for the culinary arts. As an avid enthusiast of all things food-related, I relish cooking, baking, and indulging in the pleasures of gastronomy. This website provides me with an opportunity to share some of my most cherished recipes, which are carefully curated from my kitchen, where I spend most of my time. Alongside traditional Turkish dishes, I will also be featuring recipes from diverse international cuisines. I sincerely hope that your journey through my website will be an enjoyable and fulfilling culinary experience.</p>
    <p class="enjoy">Bon Appetit!</p>
    

</div>
<%- include("partials/footer") %>