<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
<ul>
    <li><button><a href='/dideskitchen/MyRecipes#soup'>Soup</a></button></li>
    <li><button><a href='/dideskitchen/MyRecipes#salad'>Salad</a></button></li>
    <li><button><a href='/dideskitchen/MyRecipes#breakfast'>Breakfast</a></button></li>
    <li><button><a href='/dideskitchen/MyRecipes#dinner'>Dinner</a></button></li>
    <li><button><a href='/dideskitchen/MyRecipes#dessert'>Dessert</a></button></li>
    <li><button><a href='/dideskitchen/MyRecipes#bakery'>Bakery</a></button></li>
</ul>
</div>
    
<%- include("partials/footer") %>