<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
<ul class="cat">
    <li><a class="subcategory" href='/dideskitchen/MyRecipes#soup'>Soup</a></li>
    <li><a class="subcategory" href='/dideskitchen/MyRecipes#salad'>Salad</a></li>
    <li><a class="subcategory" href='/dideskitchen/MyRecipes#breakfast'>Breakfast</a></li>
    <li><a class="subcategory" href='/dideskitchen/MyRecipes#dinner'>Dinner</a></li>
    <li><a class="subcategory" href='/dideskitchen/MyRecipes#dessert'>Dessert</a></li>
    <li><a class="subcategory" href='/dideskitchen/MyRecipes#bakery'>Bakery</a></li>
</ul>
<p class="travel" style="opacity: 0.8;">I travel for <em>food!</em></p>

<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    <div class="category__img shadow">
        <img src="../img/kuppi.jpg" loading="'lazy">  
    </div>
    <div class="category__img shadow">
        <img src="../img/antep.jpg" loading="'lazy">
        <!-- <div class="text">Gaziantep, Turkey</div> -->
    </div>
    <div class="category__img shadow">
        <img src="../img/hatay.JPG" loading="'lazy">
        <!-- <div class="text">Hatay, Turkey</div> -->
    </div>
    <div class="category__img shadow">
        <img src="../img/barcelona.png" loading="'lazy">
        <!-- <div class="text">Barcelona, Spain</div> -->
    </div>
    <div class="category__img shadow">
        <img src="../img/hatay2.png" loading="'lazy">
        <!-- <div class="text">Hatay, Turkey</div> -->
    </div>
    <div class="category__img shadow">
        <img src="../img/hatay3.png" loading="'lazy">
        <!-- <div class="text">Hatay, Turkey</div> -->
    </div>
    <div class="category__img shadow">
        <img src="../img/barcelona2.png" loading="'lazy">
        <!-- <div class="text">Barcelona, Turkey</div> -->
    </div>
    <div class="category__img shadow">
        <img src="../img/lavendercoffee.jpg" loading="'lazy">
        <!-- <div class="text">The Art Cafe, New York</div> -->
    </div>
    <div class="category__img shadow">
        <img src="../img/montreal.png" loading="'lazy">
        <!-- <div class="text">Montreal, Canada</div> -->
    </div>

</div>
</div>
    
<%- include("partials/footer") %>