<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
<ul>
    <li><button><a href='/dideskitchen/soup/'>Soup</a></button></li>
    <li><button><a href='/dideskitchen/salad/'>Salad</a></button></li>
    <li><button><a href='/dideskitchen/breakfast/'>Breakfast</a></button></li>
    <li><button><a href='/dideskitchen/dinner/'>Dinner</a></button></li>
    <li><button><a href='/dideskitchen/bakery/'>Bakery</a></button></li>
    <li><button><a href='/dideskitchen/dessert/'>Dessert</a></button></li>
</ul>
</div>
    
<%- include("partials/footer") %>