<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
    <h2 class="myRecipes">My Recipes</h2><br>
    <h3 id="soup">Soups</h3><br>
    <h5>Olive Bread</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
        <p class="olive"><strong>Ingredients:</strong></p>
        <li class="olive">600g Flour</li>
        <li class="olive">300ml Warm water</li>
        <li class="olive">1 Teaspoon Salt</li>
        <li class="olive">1 Instant Yeast</li>
        <li class="olive">Olives</li><br>
        <p class="olive"><strong>Directions:</strong></p>
        <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>Olive Bread</h5>
        <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
            <p class="olive"><strong>Ingredients:</strong></p>
            <li class="olive">600g Flour</li>
            <li class="olive">300ml Warm water</li>
            <li class="olive">1 Teaspoon Salt</li>
            <li class="olive">1 Instant Yeast</li>
            <li class="olive">Olives</li><br>
            <p class="olive"><strong>Directions:</strong></p>
            <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>Olive Bread</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
            <p class="olive"><strong>Ingredients:</strong></p>
            <li class="olive">600g Flour</li>
            <li class="olive">300ml Warm water</li>
            <li class="olive">1 Teaspoon Salt</li>
            <li class="olive">1 Instant Yeast</li>
            <li class="olive">Olives</li><br>
            <p class="olive"><strong>Directions:</strong></p>
            <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="salad">Salads</h3><br>
    <h5>Mediterranean Salad</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
        <p class="olive"><strong>Ingredients:</strong></p>
        <li class="olive">600g Flour</li>
        <li class="olive">300ml Warm water</li>
        <li class="olive">1 Teaspoon Salt</li>
        <li class="olive">1 Instant Yeast</li>
        <li class="olive">Olives</li><br>
        <p class="olive"><strong>Directions:</strong></p>
        <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>Summer Salad</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
        <p class="olive"><strong>Ingredients:</strong></p>
        <li class="olive">Watermelon</li>
        <li class="olive">Fresh Mint</li>
        <li class="olive">Feta Cheese</li><br>
        <p class="olive"><strong>Directions:</strong></p>
        <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="breakfast">Breakfast</h3><br>
    <h5>Turkish Breakfast</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
        <p class="olive"><strong>Ingredients:</strong></p>
        <li class="olive">600g Flour</li>
        <li class="olive">300ml Warm water</li>
        <li class="olive">1 Teaspoon Salt</li>
        <li class="olive">1 Instant Yeast</li>
        <li class="olive">Olives</li><br>
        <p class="olive"><strong>Directions:</strong></p>
        <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>Pancakes</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
        <p class="olive"><strong>Ingredients:</strong></p>
        <li class="olive">600g Flour</li>
        <li class="olive">300ml Warm water</li>
        <li class="olive">1 Teaspoon Salt</li>
        <li class="olive">1 Instant Yeast</li>
        <li class="olive">Olives</li><br>
        <p class="olive"><strong>Directions:</strong></p>
        <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="dinner">Dinner</h3><br>
    <h5>Spaghetti</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
        <p class="olive"><strong>Ingredients:</strong></p>
        <li class="olive">600g Flour</li>
        <li class="olive">300ml Warm water</li>
        <li class="olive">1 Teaspoon Salt</li>
        <li class="olive">1 Instant Yeast</li>
        <li class="olive">Olives</li><br>
        <p class="olive"><strong>Directions:</strong></p>
        <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="dessert">Dessert</h3><br>
    <h5>San Sebastian Cheesecake</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
        <p class="olive"><strong>Ingredients:</strong></p>
        <li class="olive">600g Flour</li>
        <li class="olive">300ml Warm water</li>
        <li class="olive">1 Teaspoon Salt</li>
        <li class="olive">1 Instant Yeast</li>
        <li class="olive">Olives</li><br>
        <p class="olive"><strong>Directions:</strong></p>
        <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>NY Cheesecake</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
        <p class="olive"><strong>Ingredients:</strong></p>
        <li class="olive">600g Flour</li>
        <li class="olive">300ml Warm water</li>
        <li class="olive">1 Teaspoon Salt</li>
        <li class="olive">1 Instant Yeast</li>
        <li class="olive">Olives</li><br>
        <p class="olive"><strong>Directions:</strong></p>
        <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="bakery">Bakery</h3><br>
    <h5>Olive Bread</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
        <p class="olive"><strong>Ingredients:</strong></p>
        <li class="olive">600g Flour</li>
        <li class="olive">300ml Warm water</li>
        <li class="olive">1 Teaspoon Salt</li>
        <li class="olive">1 Instant Yeast</li>
        <li class="olive">Olives</li><br>
        <p class="olive"><strong>Directions:</strong></p>
        <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>Simit - Turkish Bagel</h5>
    <!-- <img class="soup" src="../img/bake.png"> -->
    <ul>
        <p class="olive"><strong>Ingredients:</strong></p>
        <li class="olive">600g Flour</li>
        <li class="olive">300ml Warm water</li>
        <li class="olive">1 Teaspoon Salt</li>
        <li class="olive">1 Instant Yeast</li>
        <li class="olive">Olives</li><br>
        <p class="olive"><strong>Directions:</strong></p>
        <p class="olive">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dopugh inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>


</div>
<%- include("partials/footer") %>