<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
    <h2 class="myRecipes">My Recipes</h2><br>
    <h3 id="soup">Soups</h3><br>
    <h5>Tomato Soup</h5>
        <img class="myimg" src="../img/tomatosoup.png">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">4 Peeled Tomatoes</li>
        <li class="ingredients">3 Tablespoon Butter</li>
        <li class="ingredients">1 Tablespoon of Pepper/Tomato Paste</li>
        <li class="ingredients">1 Tablespoon of Flour</li>
        <li class="ingredients">60ml Milk</li>
        <li class="ingredients">1 Teaspoon of salt</li>
        <li class="ingredients">1/2 Teaspoon of Crusheed Black Pepper</li>
        <li class="ingredients">Shredded Cheese of your Choice</li>
        <li class="ingredients">500ml Warm Water</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">Begin by blending the tomatoes until they reach a smooth consistency. Next, melt butter in a soup pot and mix in your preferred paste and flour. Slowly add milk while stirring continuously, and continue stirring for a few minutes. Add water and spices, and don't forget to sprinkle in some shredded cheese of your choice for added flavor when serving.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>Lentil Soup</h5>
        <img class="myimg" src="../img/lentilsoup.png">
    <ul>
            <p class="ingredients"><strong>Ingredients:</strong></p>
            <li class="ingredients">1 Chopped Onion</li>
            <li class="ingredients">1 Chopped Potato</li>
            <li class="ingredients">1 Chopped Carrot</li>
            <li class="ingredients">200g Red Lentil</li>
            <li class="ingredients">500ml Warm Water</li>
            <li class="ingredients">Vegetable/Chicken Broth</li>
            <li class="ingredients">1 Teaspoon of salt</li>
            <li class="ingredients">1 Tablespoon of oil</li>
            <li class="ingredients">1/2 Teaspoon of Crusheed Black Pepper</li>
            <li class="ingredients">1/2 Teaspoon of Ground Turmeric</li>
            <li class="ingredients">2 Tablespoon of Butter</li>
            <li class="ingredients">1/2 Teaspoon of Ground Mint and Paprika/Crushed Red Pepper</li><br>
            <p class="ingredients"><strong>Directions:</strong></p>
            <p class="ingredients">In a large pot add chopped onions and oil ans saute it for 3 to 5 minutes. Start adding all the ingredients except butter, mint and paprika/crushed red pepper. Cook it for 15-20 minutes until the red lentils are fully soft. Once all ingredients are cooked through, bring out the hand blender and blend it until it's smooth. In a seperate sauce pan, melt the butter and add the mint and crushed red pepper, stir it for a minute and pour it on the soup. </p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="salad">Salads</h3><br>
    <h5>Arugula Salad</h5>
        <img class="myimg" src="../img/arugulasalad.png">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">Arugula</li>
        <li class="ingredients">Cherry Tomatoes</li>
        <li class="ingredients">Rady to Eat Beets</li>
        <li class="ingredients">Capers</li>
        <li class="ingredients">Sunflower Seeds</li>
        <li class="ingredients">Olive Oil, Balsamic Vinegar, Lemon Juice & Salt</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">Add all the ingredients to your choice and mix it all well with the dressing. </p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>Red Cabbage Salad</h5>
        <img class="myimg" src="../img/redcabbage.png">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">Red Cabbage</li>
        <li class="ingredients">Corn</li>
        <li class="ingredients">Dill</li>
        <li class="ingredients">Parsley</li>
        <li class="ingredients">Capers</li>
        <li class="ingredients">White vinegar</li>
        <li class="ingredients">Olive Oil, Salt & Lemon Juice</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">Thinly chop the red cabbage and place it a bowl filled with white vinegar for 30 minutes. After 30 minutes, washed and dry the cabbage with a salad dryer. Then place the remaining ingredients and mix it up.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="breakfast">Breakfast</h3><br>
    <h5>Omelette</h5>
    <img class="myimg" src="../img/omelette.png">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">2 Eggs</li>
        <li class="ingredients">Crumbled Feta Cheese</li>
        <li class="ingredients">Shredded Mozerrella Cheese</li>
        <li class="ingredients">Parsley</li>
        <li class="ingredients">Salt</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">Mix all the ingredients in a small bowl. Spray oil in to the small sized frying pan. Turn on the heat to medium and let the pan sit for a minute and then add the mixture. cook it for 3-5 minutes and turn the omelette over and let it cook for about 2-3 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>Baby Pancakes</h5>
    <img class="myimg" src="../img/babypancakes.png">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">1 Egg</li>
        <li class="ingredients">1 Banana</li>
        <li class="ingredients">Pinch of Cinnamon</li>
        <li class="ingredients">Chia Seeds</li>
        <li class="ingredients">1 Tablespoon of Oats</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">Mix all the ingredients in the food blender. Spray oil in to the pancake pan. Turn on the heat to low and let the pan sit for 2 minutes and then add the mixture. Cook it until the pancakes starts to bubble and turn the them over and let it cook for about 2-3 more minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="dinner">Dinner</h3><br>
    <h5>Spaghetti</h5>
    <img class="myimg" src="../img/pasta.jpg">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">4 Peeled & Chopped Tomatoes</li>
        <li class="ingredients">1 Chopped Onions</li>
        <li class="ingredients">1 Tablespoon of Tomato Paste</li>
        <li class="ingredients">Salt & Black Pepper</li>
        <li class="ingredients">4 Tablespoon of Butter</li>
        <li class="ingredients">1 Box of Spaghetti</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">Cook the spaghetti in salted water. In a seperate pan, melt the butter and add chopped onions, tomatoes and tomato paste. Add some pasta water and cook it for about 10 -15 minutes in a medium heat. Toss the cooked spaghetti into the sauce we made. </p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="dinner">Dinner</h3><br>
    <h5>Dutch Oven Beef Stew</h5>
        <img class="myimg" src="../img/stew.jpeg">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">1 Chopped Tomatoes</li>
        <li class="ingredients">1 Pound of Beef</li>
        <li class="ingredients">1 Chopped Onions</li>
        <li class="ingredients">2 Chopped Peppers</li>
        <li class="ingredients">3 Minced Garlic</li>
        <li class="ingredients">1 Chopped Eggplant</li>
        <li class="ingredients">1 Tablespoon of Tomato Paste</li>
        <li class="ingredients">1 Cup of Warm Water</li>
        <li class="ingredients">Salt & Black Pepper</li>
        <li class="ingredients">2 Tablespoons Oil</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">Place the eggplants in salted water and let it sit for about 30 minutes. (This will help to avoid the bitterness) In the dutch oven place in the ingredients in the order of oil, onions, garlic, peppers, meat, tomatoes and eggplant. Mix the warm water with the tomato paste and salt & pepper and pour it into the dutch oven. Preheat the oven to 400F and cook it for 2 hours.  </p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="dessert">Dessert</h3><br>
    <h5>NY Cheesecake</h5>
        <img class="myimg" src="../img/cheesecake.jpeg">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">120g graham crackers</li>
        <li class="ingredients">300ml Warm water</li>
        <li class="ingredients">400g cream cheese</li>
        <li class="ingredients">120g sugar</li>
        <li class="ingredients">150ml heavy cream</li>
        <li class="ingredients">200g sour cream</li>
        <li class="ingredients">2 tbsp corn starch</li>
        <li class="ingredients">1.5 tbsp vanilla extract</li>
        <li class="ingredients">2 eggs</li>
        <li class="ingredients">1/4 tsp lemon juice</li>
        <li class="ingredients">1.5 cup mix berries (I used strawberries and raspberries)</li>
        <li class="ingredients">2 tbsp sugar</li>
        <li class="ingredients">1 tsp vinegar</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">The directions are up on my YouTube video.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>Banana Bread <em>(Dairy Free)</em></h5>
        <img class="myimg" src="../img/banana.jpeg">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">1 Cup Sugar</li>
        <li class="ingredients">3 Eggs</li>
        <li class="ingredients">1 Cup of Almond Milk</li>
        <li class="ingredients">1 Cup of Olive Oil</li>
        <li class="ingredients">1.5 Teaspoon Vanilla Extract</li>
        <li class="ingredients">1.5 Teaspoon Baking Powder</li>
        <li class="ingredients">3 Banana</li>
        <li class="ingredients">100g Chocolate Chips</li>
        <li class="ingredients">1/2 Teaspoon Cinnamon</li>
        <li class="ingredients">100g Walnut</li>
        <li class="ingredients">2 Cup Almond Flour</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">Mix the sugar and eggs for 5 minutes. Add the almond milk, oil, cinnamon, vanilla and the baking powder into the mixture. Lastly add the flour. In a seperate bowl, mash up all the bananas and the chocolota chip and walnuts and mix them until its a puree texture.Added it to cake mix and place it in a oil sprayed oven cup. Preheat the oven to 355F and bake it for 35 minutes. </p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h3 id="bakery">Bakery</h3><br>
    <h5>Olive Bread</h5>
        <img class="myimg" src="../img/olive.jpg">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">600g Flour</li>
        <li class="ingredients">300ml Warm water</li>
        <li class="ingredients">1 Teaspoon Salt</li>
        <li class="ingredients">1 Instant Yeast</li>
        <li class="ingredients">Olives</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">Mix all the ingredients. Cover the dough and let it rise for 3 hours. After 3 hours, start folding the dough for about 10 times and place it on a parchment paper. Cover it again and wait 1 hour. Preheat the oven to 230C/450F and place the dough inside the dutch oven and bake it for 30 minutes with the lid on. After 30 minutes, take the lid and the parchement paper off and bake it for another 10 minutes.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>
    <h5>Lentil Bread</h5>
        <img class="myimg" src="../img/lentilbread.jpg">
    <ul>
        <p class="ingredients"><strong>Ingredients:</strong></p>
        <li class="ingredients">3 Eggs</li>
        <li class="ingredients">1/2 Cup of Olive Oil</li>
        <li class="ingredients">Dill</li>
        <li class="ingredients">2 Cups of Yellow/Red Lentil</li>
        <li class="ingredients">1.5 Teaspoon of Baking Powder</li>
        <li class="ingredients">1 Cup of Thick Yogurt</li>
        <li class="ingredients">Crumbled Feta Cheese</li>
        <li class="ingredients">1/2 Teaspoon of Salt and Ground Turmeric</li>
        <li class="ingredients">Sessame Seeds</li><br>
        <p class="ingredients"><strong>Directions:</strong></p>
        <p class="ingredients">Soak the lentils the night before (or 4.5 hours before) in enough hot water to cover them. Wash and drain the  lentils and grind them into the blender with the yogurt until they become a puree texture. Mix all the other ingredients in a separate bowl and add the lentil and yogurt puree. Wet the tray so the parchement paper will stick better. Pour the mixture and sprinkle grated cheddar cheese and sessame seeds on it. Place it in the preheated 375F oven. It is cooked if the bottom turned into golden brown.</p>
    </ul>
    <p class="enjoy">Bon Appetit!</p>
    <p>-----------------------------------------------------------------------------------------------------------</p>


</div>
<%- include("partials/footer") %>