<%- include("partials/header") %>
<div class="container">
    <img class="bake" src="../img/dideskitchen.png"></img>
    <form action="/dideskitchen/guestrecipes" method="POST">
        <label for="recipeName">Recipe Name:</label>
        <input type="text" name="recipeName" id="recipeName" placeholder="Recipe Name"/><br><br>
        <label for="recipeBy">Recipe By:</label>
        <input type="text" name="recipeBy" id="recipeBy" placeholder="Recipe By"/><br><br>
        <label for="category">Category:</label>
        <select name="category" id="category">
        <option value="soup">soup</option>
        <option value="salad">salad</option>
        <option value="dinner">dinner</option>
        <option value="breakfast">breakfast</option>
        <option value="dessert">dessert</option>
        <option value="bakery">bakery</option></select>
        <label for="image">Image:</label>
        <input type="text" name="image" id="image" placeholder="Image"/><br><br>
        <label for="ingredients">Ingredients:</label>
        <input type="text" name="ingredients" id="ingredients" placeholder="Ingredients"/><br><br>
        <label for="directions">Directions:</label>
        <input type="text" name="directions" id="directions" placeholder="Directions"/><br><br>
        <input type="submit" value="Submit Recipe" id="add"/>
    </form>

</div>
<%- include("partials/footer") %>