body{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin:auto;
}
.container {
    background-color:bisque;
    opacity:0.9;
    text-align: center;
    position:relative;
    border-radius: 10px;
    height:900px;
    width: 900px;
    margin-bottom: 50px;
    box-shadow: 0px 40px 40px 40px black;
    overflow-x: hidden;
    overflow-y: auto;
}
.navbar {
    background-image: url("../img/blackbackground.jpg");
    background-size: cover;
    opacity: 0.8;
    
}
.nav-item {
    color:bisque;
    opacity: 0.9;

}
.nav-link {
    color:bisque;
}
.nav-link:hover {
    color:rgba(251,177,104,255);
    font-size: 20px;
}
.logo {
    height:30px;
    width: 40px;
    opacity: 1;
}
.logo:hover {
    height:55px;
    width: 65px;
}
.bake {
    height:150px;
    width:430px;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 25px;
}
a {
    text-decoration: none;
    color: rgb(67, 63, 63);
    font-size: 25px;
}
li {
    text-decoration: none;
    list-style-type:none;
    display:inline;
}


.footer {
    background-color:bisque;
    opacity:0.9;
    position:relative;
    margin:auto;
    border-radius: 10px;
    height:50px;
    width: 800px;
    box-shadow: 0px 20px 20px 20px black;
    margin-bottom: 50px;
}
i {
    padding:8px;
}
.dide {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    padding-bottom: 10px;
}
.enjoy{
    font-style: italic;
}
.ingredients {
    display:block;
    list-style-type:circle;
    text-align: left;
}
.myRecipes {
    margin-top: -30px;
}
.guestimg {
    height:200px;
    width:200px;
}
.subcategory {
    margin-top: -20px;
    display:block;
    padding:15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.cat{
    padding-top:10px;
    border-bottom:2px solid rgba(60,44,50,255);
    border-top:2px solid rgba(60,44,50,255);
    width:300px;
    margin:auto;
    margin-top: -30px;
}
.form-control {
    width:350px;
}
input {
    position:relative;
    margin:auto;
}
.btn {
    background-color: rgba(251,177,104,255);
    border:2px solid rgba(251,177,104,255);

}
.btn:hover {
    background-color:rgba(22,25,27,255);
    border:2px solid rgba(22,25,27,255);
}
.category__img {
    display:flex;
    height:150px;
    width:200px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow:hidden;
    border-radius:10px;
    margin-left:50px;
}

.row{
    margin:20px;
}
.shadow:hover {
    height:250px;
    width:300px;
    color:rgba(60,44,50,255);
    margin:auto;
}

.category__img img{
    width:100%;
    object-fit:cover;
}
.travel {
   text-align: left;
   margin-left:70px;
   padding-top:20px;
   margin-bottom:-40px;
}
.myimg {
    height:210px;
    width:200px;
    position:relative;
    float:center;
    z-index:-1;
    border-radius: 10%;
}

.guestrecipes {
    margin-top: -30px;
}
h3 {
    color:rgba(60,44,50,255);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
h2 {
    color:rgba(60,44,50,255);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
h5 {
    color:rgba(60,44,50,255);
    font-family:Georgia, 'Times New Roman', Times, serif;

}
form {
    color:rgba(60,44,50,255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:17px;
}
#add {
        color: white;
        border:2px solid rgba(251,177,104,255);
        background-color:rgba(251,177,104,255);
        border-radius: 8%;
}
#add:hover {
        background-color:rgba(60,44,50,255);
        border:2px solid rgba(60,44,50,255);
}
a {
    color:rgba(60,44,50,255);
    font-family:Georgia, 'Times New Roman', Times, serif;

}

#delete {
    background-color:rgba(60,44,50,255);
    border:2px solid rgba(60,44,50,255);
    border-radius: 8%;
    color:white;
}